@model IEnumerable<TickeTac.Models.City>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Editable Table</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div id="table" class="table-editable">
                            <span class="float-right mb-3 mr-2">
                                <a class="btn btn-sm iq-bg-success" asp-action="Create"><i
                                        class="p-sm ri-add-fill">Adicionar novo</i></a>
                            </span>

                            <table class="table table-bordered table-responsive-md table-striped text-center">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Cidade</th>
                                        <th>Estado</th>
                                        <th>DETALHES</th>
                                        <th>EDITAR</th>
                                        <th>EXCLUIR</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td> @Html.DisplayFor(modelItem => item.Id)</td>
                                            <td> @Html.DisplayFor(modelItem => item.Name)</td>
                                            <td> @Html.DisplayFor(modelItem => item.State.Name)</td>
                                            <td>
                                                <a class="btn btn-light  btn-rounded btn-sm my-0 " asp-action="Details"
                                                asp-route-id="@item.Id">Detalhes</a>
                                            </td>
                                            <td>
                                                <span> <a class="btn btn-info btn-rounded btn-sm my-0" asp-action="Edit"
                                                    asp-route-id="@item.Id">Editar</a></span>
                                            </td>
                                            <td>
                                                <span> <a class="btn btn-primary btn-rounded btn-sm my-0"
                                                    asp-action="Delete" asp-route-id="@item.Id">
                                                        Excluir
                                                    </a></span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
