@model TickeTac.Models.Event

@{
  ViewData["Title"] = "Detalhes";
}

<div class=breadcrumbs>
  <div class=container>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-12">
        <div class=breadcrumbs-content>
          <h1 class=page-title>Detalhes do evento</h1>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <ul class=breadcrumb-nav>
          <li><a asp-action="Index" asp-controller="Home">Home</a></li>
          <li>Detalhes do evento</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<section class="item-details section">
  <div class=container>
    <div class=top-area>
      <div class=row>
        <div class="col-lg-6 col-md-12 col-12">
          <div class=product-images>
            <main id=gallery>
              <div class=main-img>
                <img src="@Model.Image" id=current alt="#">
              </div>
            </main>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <div class=product-info>
            <h2 class=title>@Model.Name</h2>
            <p class=location><i class="lni lni-map-marker"></i><a href="javascript:void(0)">@Model.City.Name,
                @Model.State.Name</a></p>
            <h3 class=price>R$ @Model.Price</h3>
            <div class=list-info>
              <h4>Informações</h4>
              <ul>
                <li><span>Status:</span>@Model.StatusEvent.Name </li>
                <li><span>Categoria:</span>@Model.Category.Name </li>
              </ul>
            </div>
            <div class=contact-info>
              <ul>
                <li>
                  <a href="tel:+002562352589" class=call>
                    <i class="lni lni-phone-set"></i>
                    @Model.ContactPhone
                    <span>Ligue para mais detalhes</span>
                  </a>
                </li>
                <li>
                  <a href="mailto:leonardo.pereira254@etec.sp.gov.br" class=mail>
                    <i class="lni lni-envelope"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=item-details-blocks>
      <div class=row>
        <div class="col-lg-8 col-md-7 col-12">

          <div class="single-block description">
            <h3>Descrição</h3>
            <p>
              @Model.Description
            </p>
            <p>@Model.MoreInfo</p>
          </div>

          <div class="single-block ">
            <h3>Endereço</h3>
            <p>Cidade: @Model.City.Name, @Model.State.Name</p>
            <p>Bairro: @Model.District</p>
            <p>Rua: @Model.PublicSpace</p>
          </div>

          @if (@Model.StatusEvent.Id == 1){
          <div class="single-block comments">
            <h3></h3>
            
            <div class=single-comment>
              <img src="" alt="FOTO DO AVALIADOR">
              <div class=content>
                <h4>NOME DO AVALIADOR</h4>
                <span>DATA DE REVIEW</span>
                <p>
                  Adorei este Evnto COMENTÁRIO DA REVIEW
                </p>
              </div>
            </div>
          </div>
          
          <div class="single-block comment-form">
            <h3>Publique um comentário</h3>
            <form action="" method=post>
              <div class=row>
                <div class="col-lg-6 col-12">
                </div>
                <div class="col-lg-6 col-12">
                </div>
                <div class=col-12>
                  <div class="form-box form-group">
                    <textarea name="comentario" class="form-control form-control-custom"></textarea>
                  </div>
                </div>
                <div class=col-12>
                  <div class=button>
                    <input type=submit class=btn />
                  </div>
                </div>
              </div>
            </form>
          </div>
}
        </div>
        
        <div class="col-lg-4 col-md-5 col-12">
          <div class=item-details-sidebar>

            <div class="single-block author">
              <h3>Organizador</h3>
              <div class=content>
                <img src="@Model.User.ProfilePicture" alt="#">
                <h4>@Model.User.Name</h4>
                <a asp-action="Organizador" asp-route-id="@Model.UserId" class=see-all>Ver outros eventos</a>
              </div>
            </div>


            <div class="single-block contant-seller comment-form ">
              <h3>Contate-me</h3>
              <form action="#" method=POST>
                <div class=row>
                  <div class=col-12>
                    <div class="form-box form-group">
                      <input type=text name=name class="form-control form-control-custom" placeholder="Nome" />
                    </div>
                  </div>
                  <div class=col-12>
                    <div class="form-box form-group">
                      <input type=email name=email class="form-control form-control-custom" placeholder="E-mail" />
                    </div>
                  </div>
                  <div class=col-12>
                    <div class="form-box form-group">
                      <textarea name="#" class="form-control form-control-custom" placeholder="Mensagem"></textarea>
                    </div>
                  </div>
                  <div class=col-12>
                    <div class=button>
                      <button type=submit class=btn>Enviar mensagem</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
